body {
	background:url(../images/banner.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
}
.register-to_login {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding-bottom: 40px;

}
.register-to_login p {
	margin-bottom: 10px;
	margin-right: 20px;
    transform: translateY(-5px);
}
.register-to_login a {
	background: #3970b0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}
.form_login_email {
	width: 300px;
    height: 50px;
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    background-color: transparent;
    border-bottom: 5px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 20px;
    display: block;
    outline: none;
}

h1.w3ls {
	font-size:50px;
	color:#fff;
	padding:40px 0;
	text-align:center;
	/*-- w3layouts --*/ 
	text-transform:uppercase;
}
.content-w3ls {
	background-color:#202123;
	width:70%;
	margin:0 auto 50px;
	padding:0;
}

h2.agileits1 {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    text-align: Center;
    padding: 50px 0 15px;
    text-transform: uppercase;
	font-family: 'Monoton', cursive;
}
p.agileits2 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
.content-w3ls .content-agile2 {
	width: 50%;
    float: left;
    padding: 25px 0 0;
}
input#firstname,input#email,input#password1,input#password2 {
	width:300px;
	height:50px;
	padding:0 15px;
	color:#fff;
	font-size:17px;
	font-weight:200;
	background-color:transparent;
	/*-- w3layouts --*/ 
	border-bottom:5px solid #fff;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	font-family: 'Raleway', sans-serif;
	margin:0 auto 20px;
	display:block;
	outline:none;
}
input#firstname:focus,input#email:focus,input#password1:focus,input#password2:focus,input#firstname:hover,input#email:hover,input#password1:hover,input#password2:hover {
	color:#fff;
	border-bottom:5px solid #3970b0;
}
input.register {
    width: 335px;
    margin: 30px auto;
    display: block;
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    background-color:#3970b0;
    border-color: transparent;
	font-family: 'Raleway', sans-serif;
	/*-- w3ls --*/
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	cursor:pointer;
}
input.register:hover {
	color: #fff;
    background-color:#3970b0;
}
p.wthree {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p.copyright {
    font-size: 16px;
    text-align: center;
    color: #dadada;
    line-height: 30px;
    padding: 20px 10px;
}
p.copyright a {
	color:#f15f22;
}
p.copyright a:hover {
	color:#36b051;
}